.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/libjavakotlin/build/classes/java/main/com/example/libjavakotlin/MyClass.class
/.idea/modules/libjavakotlin/android_project.libjavakotlin.main.iml
/.idea/modules/libjavakotlin/android_project.libjavakotlin.test.iml
/.idea/modules/libjavakotlin/android_project.libjavakotlin.iml
/libjavakotlin/build/tmp/compileJava/source-classes-mapping.txt
